<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>PD WCT Board</title>
	<link href="{{ url_for('static', filename='style.css') }}" rel=stylesheet type=text/css>
	<link href='https://fonts.googleapis.com/css?family=Pragati Narrow' rel='stylesheet'>
</head>

<body>

<table style="width: 100%">
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>
<table style="width: 100%" cellspacing="3" cellpadding="3" class="style111">
	<tr>
		<td style="width: 384px" class="style56">&nbsp;</td>
		<td class="style57" colspan="2"><strong>AML PD WORK CENTER BOARD:</strong></td>
		<td style="width: 384px" class="style56">&nbsp;</td>
		<td style="width: 384px" class="style56">&nbsp;</td>
	</tr>
	<tr>
		<td style="width: 384px" class="style3">Culture</td>
		<td style="width: 384px" class="style3">Quality</td>
		<td style="width: 384px" class="style3">Speed</td>
		<td style="width: 384px" class="style3">Supply</td>
		<td style="width: 384px" class="style3">Supply/Culture</td>
	</tr>
	<tr>
		<td class="style2">S</td>
		<td class="style2">Q</td>
		<td class="style2">D</td>
		<td class="style2">I</td>
		<td class="style2">P</td>
	</tr>
	<tr>
		<td class="style5">&nbsp;</td>
		<td class="style5">&nbsp;</td>
		<td class="style5">&nbsp;</td>
		<td class="style5">&nbsp;</td>
		<td class="style5">&nbsp;</td>
	</tr>
	<tr>
		<td valign="top" class="style15">
		<table style="width: 100%" class="style7" cellspacing="0">
			<tr>
				<td class="style109" colspan="4">Incidents/Near Misses</td>
			</tr>
			<tr>
				<td class="style110">#</td>
				<td class="style110">Date</td>
				<td class="style110">Incident Description</td>
				<td class="style110">Owner</td>
			</tr>
			<tr>
				<td class="style109">1</td>
				<td class="style108">&nbsp;</td>
				<td class="style108">&nbsp;</td>
				<td class="style108">&nbsp;</td>
			</tr>
			<tr>
				<td class="style109">2</td>
				<td class="style108">&nbsp;</td>
				<td class="style108">&nbsp;</td>
				<td class="style108">&nbsp;</td>
			</tr>
			<tr>
				<td class="style109">3</td>
				<td class="style108">&nbsp;</td>
				<td class="style108">&nbsp;</td>
				<td class="style108">&nbsp;</td>
			</tr>
		</table>
		<div>
		<br />
		</div>
		<table style="width: 100%" cellspacing="0">
			<tr>
				<td colspan="11" class="style99">Incidents from Site (Cascade)</td>
			</tr>
			<tr>
				<td class="style98">Metrics</td>
				<td colspan="2" class="style58"><span class="style87">
				<span class="style90">Week<br />
				</span></span>1</td>
				<td colspan="2" class="style58"><span class="style87">
				<span class="style90">Week<br />
				</span></span>2</td>
				<td colspan="2" class="style58"><span class="style87">
				<span class="style90">Week<br />
				</span></span>3</td>
				<td colspan="2" class="style58"><span class="style87">
				<span class="style90">Week<br />
				</span></span>4</td>
				<td colspan="2" class="style59"><span class="style87">
				<span class="style90">Week<br />
				</span></span>5</td>
			</tr>
			<tr>
				<td class="style73">Safety Info. Cascade&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style71">&nbsp;</td>
			</tr>
		</table>
		<br />
		</td>
		<td valign="top" class="style15">
		{% include "nccapa.html" %}
		<div>
		<br />
		</div>
		<table style="width: 100%">
			<tr>
				<td colspan="11" class="style99">Training</td>
			</tr>
			<tr>
				<td class="style98">Metric</td>
				<td colspan="2" class="style58"><span class="style87">
				<span class="style90">Week<br />
				</span></span>1</td>
				<td colspan="2" class="style58"><span class="style87">
				<span class="style90">Week<br />
				</span></span>2</td>
				<td colspan="2" class="style58"><span class="style87">
				<span class="style90">Week<br />
				</span></span>3</td>
				<td colspan="2" class="style58"><span class="style87">
				<span class="style90">Week<br />
				</span></span>4</td>
				<td colspan="2" class="style59"><span class="style87">
				<span class="style90">Week<br />
				</span></span>5</td>
			</tr>
			<tr>
				<td class="style76">Training %</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style74">&nbsp;</td>
			</tr>
			<tr>
				<td class="style73">Past Due<br />
				Trainings</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style71">&nbsp;</td>
			</tr>
		</table>
		<div class="style102">
		<br />
		</div>
		<table style="width: 100%">
			<tr>
				<td colspan="7" class="style99">Periodic Review</td>
			</tr>
			<tr>
				<td rowspan="2" class="style98">System Item</td>
				<td rowspan="2" class="style67">GMP<br />
				Review</td>
				<td colspan="2" class="style67">Security Review</td>
				<td rowspan="2" class="style67">Service<br />
				Account</td>
				<td rowspan="2" class="style67">Due</td>
				<td rowspan="2" class="style97">Status</td>
			</tr>
			<tr>
				<td class="style67">Non<br/>
				Privileged</td>
				<td class="style67">Privileged</td>
			</tr>
			<tr>
				<td class="style19">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style74">&nbsp;</td>
			</tr>
			<tr>
				<td class="style19">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style74">&nbsp;</td>
			</tr>
			<tr>
				<td class="style19">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style74">&nbsp;</td>
			</tr>
			<tr>
				<td class="style93">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style71">&nbsp;</td>
			</tr>
		</table>
		</td>
		<td class="style15" valign="top">
		<table style="width: 100%">
			<tr>
				<td colspan="12" class="style77">Task/Incidents Open vs Closed on Time</td>
			</tr>
			<tr>
				<td colspan="2" class="style70">Metrics</td>
				<td colspan="2" class="style36"><span class="style87">
				<span class="style90">Week<br />
				</span></span>1</td>
				<td colspan="2" class="style36"><span class="style87">
				<span class="style90">Week<br />
				</span></span>2</td>
				<td colspan="2" class="style36"><span class="style87">
				<span class="style90">Week<br />
				</span></span>3</td>
				<td colspan="2" class="style36"><span class="style87">
				<span class="style90">Week<br />
				</span></span>4</td>
				<td colspan="2" class="style63"><span class="style87">
				<span class="style90">Week<br />
				</span></span>5</td>
			</tr>
			<tr>
				<td rowspan="2" class="style84">Task</td>
				<td class="style66">Week Ahead</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style81">&nbsp;</td>
			</tr>
			<tr>
				<td class="style66">Past Due</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style81">&nbsp;</td>
			</tr>
			<tr>
				<td rowspan="3" class="style84">Incidents</td>
				<td class="style66">Week Ahead</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style81">&nbsp;</td>
			</tr>
			<tr>
				<td class="style66">Past Due</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style81">&nbsp;</td>
			</tr>
			<tr>
				<td class="style66">Waiting</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style85">&nbsp;</td>
			</tr>
			<tr>
				<td rowspan="2" class="style84">Work Orders</td>
				<td class="style66">Open</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style81">&nbsp;</td>
			</tr>
			<tr>
				<td class="style80">Past Due</td>
				<td class="style79">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style79" valign="top">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style78">&nbsp;</td>
			</tr>
		</table>
		<div class="style15">
		<br />
		<br />
		</div>
		<table style="width: 100%">
			<tr>
				<td colspan="12" class="style99">ISM Status</td>
			</tr>
			<tr>
				<td colspan="2" class="style98">Metrics</td>
				<td colspan="2" class="style39">Week 1</td>
				<td colspan="2" class="style39">Week 2</td>
				<td colspan="2" class="style39">Week 3</td>
				<td colspan="2" class="style39">Week 4</td>
				<td colspan="2" class="style48">Week 5</td>
			</tr>
			<tr>
				<td rowspan="3" class="style84">ISM</td>
				<td class="style66">Imp. Past Due</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style81">&nbsp;</td>
			</tr>
			<tr>
				<td class="style66">Imp. Week Ahead</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style81">&nbsp;</td>
			</tr>
			<tr>
				<td class="style66">Deptmt. Review</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style86">&nbsp;</td>
				<td class="style85">&nbsp;</td>
			</tr>
			<tr>
				<td rowspan="2" class="style26">&nbsp;</td>
				<td class="style66">Closure Past Due</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style82">&nbsp;</td>
				<td class="style81">&nbsp;</td>
			</tr>
			<tr>
				<td class="style79">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style79">&nbsp;</td>
				<td class="style78">&nbsp;</td>
			</tr>
		</table>
		<div class="style15">
		</div>
		</td>
		<td valign="top" class="style15">
		<table style="width: 100%" class="style102">
			<tr>
				<td colspan="12" class="style35">System Availability</td>
			</tr>
			<tr>
				<td colspan="2" class="style44">Metrics</td>
				<td colspan="2" class="style36">Week<br />
				1</td>
				<td colspan="2" class="style36">Week<br />
				2</td>
				<td colspan="2" class="style36">Week 3</td>
				<td colspan="2" class="style36">Week<br />
				4</td>
				<td colspan="2" class="style63">Week<br />
				5</td>
			</tr>
			<tr>
				<td rowspan="4" class="vertical" valign="middle">MES</td>
				<td class="style38">Major Incidents (Qty)</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style32" style="width: 139px">&nbsp;</td>
			</tr>
			<tr>
				<td class="style38">Downtime (hrs)</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style32" style="width: 139px">&nbsp;</td>
			</tr>
			<tr>
				<td class="style38">Total Time</td>
				<td colspan="2" class="style8"></td>
				<td colspan="2" class="style8"></td>
				<td colspan="2" class="style8"></td>
				<td colspan="2" class="style8"></td>
				<td colspan="2" class="style32"></td>
			</tr>
			<tr>
				<td class="style38">%</td>
				<td colspan="2" class="style52"><span class="style53"></span></td>
				<td colspan="2" class="style52"><span class="style53"></span></td>
				<td colspan="2" class="style52"><span class="style53"></span></td>
				<td colspan="2" class="style52"><span class="style53"></span></td>
				<td colspan="2" class="style52"><span class="style53"></span></td>
			</tr>
			<tr>
				<td rowspan="4" class="vertical">PI</td>
				<td class="style38">Major Incidents (Qty)</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style8">&nbsp;</td>
				<td class="style32" style="width: 139px">&nbsp;</td>
			</tr>
			<tr>
				<td class="style38">Downtime (hrs)</td>
				<td class="style8"></td>
				<td class="style8"></td>
				<td class="style8"></td>
				<td class="style8"></td>
				<td class="style8"></td>
				<td class="style8"></td>
				<td class="style8"></td>
				<td class="style8"></td>
				<td class="style8"></td>
				<td class="style32" style="width: 139px"></td>
			</tr>
			<tr>
				<td class="style66">Total Time</td>
				<td colspan="2" class="style8"></td>
				<td colspan="2" class="style8"></td>
				<td colspan="2" class="style8"></td>
				<td colspan="2" class="style8"></td>
				<td colspan="2" class="style32"></td>
			</tr>
			<tr>
				<td class="style64">%</td>
				<td colspan="2" class="style55">&nbsp;</td>
				<td colspan="2" class="style55">&nbsp;</td>
				<td colspan="2" class="style55">&nbsp;</td>
				<td colspan="2" class="style55">&nbsp;</td>
				<td colspan="2" class="style54">&nbsp;</td>
			</tr>
		</table>
		<div class="style15">
		<br />
		</div>
		</td>
		<td valign="top" class="style15">
		<table style="width: 100%">
			<tr>
				<td class="style35" colspan="6">Tracking</td>
			</tr>
			<tr>
				<td class="style44">Date Open</td>
				<td class="style36">System</td>
				<td class="style36">Problem</td>
				<td class="style36">Due Date<br />
				+ 30 days</td>
				<td class="style36">Problem Investigator</td>
				<td class="style40">Status</td>
			</tr>
			<tr>
				<td class="style16">&nbsp;</td>
				<td class="style21">&nbsp;</td>
				<td class="style21">&nbsp;</td>
				<td class="style21">&nbsp;</td>
				<td class="style21">&nbsp;</td>
				<td class="style17">&nbsp;</td>
			</tr>
		</table>
		<div>
		<br />
		</div>
		<table style="width: 100%">
			<tr>
				<td colspan="12" class="style6">Task/Incidents/Work Orders (Last
				7 days)&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2" style="height: 35px" class="style105">Metric</td>
				<td colspan="2" style="height: 35px" class="style37">
				<span class="style87"><span class="style90">Week<br />
				</span></span>1</td>
				<td colspan="2" style="height: 35px" class="style37">
				<span class="style87"><span class="style90">Week<br />
				</span></span>2</td>
				<td colspan="2" style="height: 35px" class="style37">
				<span class="style87"><span class="style90">Week<br />
				</span></span>3</td>
				<td colspan="2" style="height: 35px" class="style37">
				<span class="style87"><span class="style90">Week<br />
				</span></span>4</td>
				<td colspan="2" style="height: 35px" class="style37">
				<span class="style87"><span class="style90">&nbsp;Week<br />
				</span></span>5</td>
			</tr>
			<tr>
				<td rowspan="2" class="style84">Tasks</td>
				<td class="style103">Open/InProg/Pending</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style103">Closed/Canceled</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td rowspan="2" class="style84">Incidents&nbsp;</td>
				<td class="style103">Open/InProg/Pending</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style103">Closed/Canceled</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td rowspan="2" class="style84">Work Orders</td>
				<td class="style103">Open/InProg/Pending</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style103">Closed/Canceled</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td rowspan="2" class="style84">ISM Changes&nbsp;</td>
				<td class="style103">Open/InProg/Pending</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="style103">Closed/Canceled</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
		</table>
		{% include "maxwo.html" %}
		</td>
	</tr>
	<tr>
		<td><br />
		{% include "todos.html" %}
		<br />
		</td>
		<td><br />
		<table style="width: 100%">
			<tr>
				<td class="style105">Date</td>
				<td class="style105">Issue</td>
				<td class="style105">Action</td>
				<td class="style105">Who</td>
				<td class="style105">Due</td>
				<td class="style105">Status</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
		</table>
		<br />
		</td>
		<td><br />
		<table style="width: 100%">
			<tr>
				<td class="style105">Date</td>
				<td class="style105">Issue</td>
				<td class="style105">Action</td>
				<td class="style105">Who</td>
				<td class="style105">Due</td>
				<td class="style105">Status</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
		</table>
		<br />
		</td>
		<td><br />
		<table style="width: 100%">
			<tr>
				<td class="style105">Date</td>
				<td class="style105">Issue</td>
				<td class="style105">Action</td>
				<td class="style105">Who</td>
				<td class="style105">Due</td>
				<td class="style105">Status</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
		</table>
		<br />
		</td>
		<td><br />
		<table style="width: 100%">
			<tr>
				<td class="style105">Date</td>
				<td class="style105">Issue</td>
				<td class="style105">Action</td>
				<td class="style105">Who</td>
				<td class="style105">Due</td>
				<td class="style105">Status</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
			<tr>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
				<td class="style102">&nbsp;</td>
			</tr>
		</table>
		<br />
		</td>
	</tr>
</table>

<table style="width: 100%" cellspacing="3" cellpadding="3" class="style111">
	<tr>
		<td valign="top" class="style6">
		<table style="width: 100%">
			<tr>
				<td colspan="2" class="style107">Legend</td>
			</tr>
			<tr>
				<td class="style103">What Went Well?</td>
				<td class="style103">What Went Wrong?</td>
			</tr>
			<tr>
				<td class="style103">&nbsp;</td>
				<td class="style103">&nbsp;</td>
			</tr>
			<tr>
				<td class="style103">&nbsp;</td>
				<td class="style103">&nbsp;</td>
			</tr>
			<tr>
				<td class="style103">&nbsp;</td>
				<td class="style103">&nbsp;</td>
			</tr>
			<tr>
				<td class="style103">&nbsp;</td>
				<td class="style103">&nbsp;</td>
			</tr>
		</table>
		<div class="style6">
			<br />
		</div>
		</td>
		<td valign="top" class="style6">
		<table style="width: 100%">
			<tr>
				<td colspan="2" class="style103">Week 1 Highlights/Lowlights</td>
			</tr>
			<tr>
				<td class="style103">What Went Well?</td>
				<td class="style103">What Went Wrong?</td>
			</tr>
			<tr>
				<td class="style103">&nbsp;</td>
				<td class="style103">&nbsp;</td>
			</tr>
		</table>
		<div class="style6">
			<br />
		</div>
		</td>
		<td valign="top" class="style6">
		<table style="width: 100%">
			<tr>
				<td colspan="2" class="style103">Week 2 Highlights/Lowlights</td>
			</tr>
			<tr>
				<td class="style103">What Went Well?</td>
				<td class="style103">What Went Wrong?</td>
			</tr>
			<tr>
				<td class="style103">&nbsp;</td>
				<td class="style103">&nbsp;</td>
			</tr>
		</table>
		<div class="style6">
			<br />
		</div>
		</td>
		<td valign="top" class="style6">
		<table style="width: 100%">
			<tr>
				<td colspan="2" class="style103">Week 3 Highlights/Lowlights</td>
			</tr>
			<tr>
				<td class="style103">What Went Well?</td>
				<td class="style103">What Went Wrong?</td>
			</tr>
			<tr>
				<td class="style103">&nbsp;</td>
				<td class="style103">&nbsp;</td>
			</tr>
		</table>
		<div class="style6">
			<br />
		</div>
		</td>
		<td valign="top" class="style6">
		<table style="width: 100%">
			<tr>
				<td colspan="2" class="style103" valign="top">Week 4
				Highlights/Lowlights</td>
			</tr>
			<tr>
				<td class="style103">What Went Well?</td>
				<td class="style103">What Went Wrong?</td>
			</tr>
			<tr>
				<td class="style103">&nbsp;</td>
				<td class="style103">&nbsp;</td>
			</tr>
		</table>
		<div class="style6">
			<br />
		</div>
		</td>
		<td valign="top" class="style6">
		<table style="width: 100%">
			<tr>
				<td colspan="2" class="style103">Week 5 Highlights/Lowlights</td>
			</tr>
			<tr>
				<td class="style103">What Went Well?</td>
				<td class="style103">What Went Wrong?</td>
			</tr>
			<tr>
				<td class="style103">&nbsp;</td>
				<td class="style103">&nbsp;</td>
			</tr>
		</table>
		<div class="style6">
			<br />
		</div>
		</td>
		<td>
		<table style="width: 100%">
			<tr>
				<td colspan="11" class="style99">Attendance Tracking Table</td>
			</tr>
			<tr>
				<td class="style98" rowspan="2">Staff Name</td>
				<td colspan="2" class="style67">W1</td>
				<td colspan="2" class="style67">W2</td>
				<td colspan="2" class="style67">W3</td>
				<td colspan="2" class="style67">W4</td>
				<td colspan="2" class="style97">W5</td>
			</tr>
			<tr>
				<td class="style65">1</td>
				<td class="style65">2</td>
				<td class="style65">1</td>
				<td class="style65">2</td>
				<td class="style65">1</td>
				<td class="style65">2</td>
				<td class="style65">1</td>
				<td class="style65">2</td>
				<td class="style65">1</td>
				<td class="style74">2</td>
			</tr>
			<tr>
				<td class="style62"></td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style65">&nbsp;</td>
				<td class="style74">&nbsp;</td>
			</tr>
			<tr>
				<td class="style73">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style71">&nbsp;</td>
			</tr>
			<tr>
				<td class="style73">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style71">&nbsp;</td>
			</tr>
			<tr>
				<td class="style73">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style71">&nbsp;</td>
			</tr>
			<tr>
				<td class="style73">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style71">&nbsp;</td>
			</tr>
			<tr>
				<td class="style73">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style71">&nbsp;</td>
			</tr>
			<tr>
				<td class="style73">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style71">&nbsp;</td>
			</tr>
			<tr>
				<td class="style73">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style71">&nbsp;</td>
			</tr>
			<tr>
				<td class="style60"></td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style72">&nbsp;</td>
				<td class="style71">&nbsp;</td>
			</tr>
		</table>
		<div>
		<br />
		</div>
		</td>
		<td>&nbsp;</td>
	</tr>
</table>

</body>

</html>
