{% extends "amlis/base.html" %}

{% block header %}

<div class="wrapper2">
   <div id="header" class="box metricDays wrapper3">   <!--Note that scrollable elements must match the ID of the links inside the navbar's list items (<div id="section1"> matches <a href="#section1">). -->
     <div class="box metric">Q</div>
     <div class="box days wrapper4">
       <div></div>
       <div>
         <div class="verticalspacer30px"></div>
         <div class="wrapper5">
           {% for item in quality_data.days %}
           <div id="days" class="daycell" style="background-color:{{ item.VALUE }};">{{ loop.index }}</div>
           {% endfor -%}

           <span id="result">&nbsp;</span>

         </div>
       </div>
     </div>
  </div>

{% endblock %}

{% block metrics %}

<h1>Non-Conformance/Cappas</h1>

<br>

<table id="nc_cappa_is" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>TR ID</th>
        <th>TR STATUS</th>
        <th>ORIGINAL TARGET DATE</th>
        <th>TARGET DUE DATE</th>
        <th>BUILDING</th>
      </tr>
    </thead>
    <tbody>
      {% for item in quality_data.nccapa %}
      <tr>
        <td class="child-table-nc"><a href="/child_nc/nc/{{item.tr_id}}">{{item.tr_id}}</a></td>
        <td>{{item.tr_status}}</td>
        <td>{{item.original_target_date|shortdate}}</td>
        <td>{{item.target_due_date|shortdate}}</td>
        <td>{{item.building}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<div id='child-table-nc-wrapper' class="pre-scrollable"></div>

<br>

<h1>Training</h1>

<br>

<div id="training"></div>

<br>

<h1>Periodic Review</h1>

<br>

<table id="periodic" style="width: 100%">
  <thead>
    <tr>
      <th rowspan="2" style="text-align:center;vertical-align:middle">System Item</th>
      <th rowspan="2" style="text-align:center;vertical-align:middle">GMP<br />
      Review</th>
      <th colspan="2" style="text-align:center">Security Review</th>
      <th rowspan="2" style="text-align:center;vertical-align:middle">Service<br />
      Account</th>
      <th rowspan="2" style="text-align:center;vertical-align:middle">Due</th>
      <th rowspan="2" style="text-align:center;vertical-align:middle">Status</th>
    </tr>
    <tr>
      <th style="text-align:center">Non<br/>
      Privileged</th>
      <th style="text-align:center">Privileged</th>
    </tr>
  </thead>
  <tbody>
    {% for item in quality_data.periodic if item.TOPIC == 'q' %}
    <tr>
      <td style="text-align:center">{{item.SYSTEMITEM}}</td>
      <td style="text-align:center">{{item.GMPREVIEW}}</td>
      <td style="text-align:center">{{item.NONPRIVILEGED}}</td>
      <td style="text-align:center">{{item.PRIVILEGED}}</td>
      <td style="text-align:center">{{item.SERVICEACCOUNT}}</td>
      <td style="text-align:center">{{item.DUE}}</td>
      <td style="text-align:center">{{item.STATUS}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block todos %}

<h1>ToDos</h1>

<br>

<div id="todos"></div>

<br>

{% endblock %}

{% block week1well %}

<div id="week1well"></div>

{% endblock %}

{% block week1wrong %}

<div id="week1wrong"></div>

{% endblock %}

{% block week2well %}

<div id="week2well"></div>

{% endblock %}

{% block week2wrong %}

<div id="week2wrong"></div>

{% endblock %}

{% block week3well %}

<div id="week3well"></div>

{% endblock %}

{% block week3wrong %}

<div id="week3wrong"></div>

{% endblock %}

{% block week4well %}

<div id="week4well"></div>

{% endblock %}

{% block week4wrong %}

<div id="week4wrong"></div>

{% endblock %}

{% block week5well %}

<div id="week5well"></div>

{% endblock %}

{% block week5wrong %}

<div id="week5wrong"></div>

{% endblock %}

{% block week1 %}

<table id="week1" class="week" style="width: 100%">
  <thead>
    <tr>
      <th colspan="2" style="text-align:center">Week 1 Highlights/Lowlights</th>
    </tr>
    <tr>
      <th style="text-align:center">What Went Well?</th>
      <th style="text-align:center">What Went Wrong?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><div class="wrapper_wentwell">
      {% for item in quality_data.weekly if item.week == '1' and item.hi_lo == '1' %}
      <div style="text-align:center">{{item.note}}</div>
      {% endfor %}
    </div></td>
  <td><div class="wrapper_wentwrong">
      {% for item in quality_data.weekly if item.week == '1' and item.hi_lo == '0' %}
      <div style="text-align:center">{{item.note}}</div>
      {% endfor %}
  </div></td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block week2 %}

<table id="week2" class="week" style="width: 100%">
  <thead>
    <tr>
      <th colspan="2" style="text-align:center">Week 2 Highlights/Lowlights</th>
    </tr>
    <tr>
      <th style="text-align:center">What Went Well?</th>
      <th style="text-align:center">What Went Wrong?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><div class="wrapper_wentwell">
      {% for item in quality_data.weekly if item.week == '2' and item.hi_lo == '1' %}
      <div style="text-align:center">{{item.note}}</div>
      {% endfor %}
    </div></td>
  <td><div class="wrapper_wentwrong">
      {% for item in quality_data.weekly if item.week == '2' and item.hi_lo == '0' %}
      <div style="text-align:center">{{item.note}}</div>
      {% endfor %}
  </div></td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block week3 %}

<table id="week3" class="week" style="width: 100%">
  <thead>
    <tr>
      <th colspan="2" style="text-align:center">Week 3 Highlights/Lowlights</th>
    </tr>
    <tr>
      <th style="text-align:center">What Went Well?</th>
      <th style="text-align:center">What Went Wrong?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><div class="wrapper_wentwell">
      {% for item in quality_data.weekly if item.week == '3' and item.hi_lo == '1' %}
      <div style="text-align:center">{{item.note}}</div>
      {% endfor %}
    </div></td>
  <td><div class="wrapper_wentwrong">
      {% for item in quality_data.weekly if item.week == '3' and item.hi_lo == '0' %}
      <div style="text-align:center">{{item.note}}</div>
      {% endfor %}
  </div></td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block week4 %}

<table id="week4" class="week" style="width: 100%">
  <thead>
    <tr>
      <th colspan="2" style="text-align:center">Week 4 Highlights/Lowlights</th>
    </tr>
    <tr>
      <th style="text-align:center">What Went Well?</th>
      <th style="text-align:center">What Went Wrong?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><div class="wrapper_wentwell">
      {% for item in quality_data.weekly if item.week == '4' and item.hi_lo == '1' %}
      <div style="text-align:center">{{item.note}}</div>
      {% endfor %}
    </div></td>
  <td><div class="wrapper_wentwrong">
      {% for item in quality_data.weekly if item.week == '4' and item.hi_lo == '0' %}
      <div style="text-align:center">{{item.note}}</div>
      {% endfor %}
  </div></td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block week5 %}

<table id="week5" class="week" style="width: 100%">
  <thead>
    <tr>
      <th colspan="2" style="text-align:center">Week 5 Highlights/Lowlights</th>
    </tr>
    <tr>
      <th style="text-align:center">What Went Well?</th>
      <th style="text-align:center">What Went Wrong?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><div class="wrapper_wentwell">
      {% for item in quality_data.weekly if item.week == '5' and item.hi_lo == '1' %}
      <div style="text-align:center">{{item.note}}</div>
      {% endfor %}
    </div></td>
  <td><div class="wrapper_wentwrong">
      {% for item in quality_data.weekly if item.week == '5' and item.hi_lo == '0' %}
      <div style="text-align:center">{{item.note}}</div>
      {% endfor %}
  </div></td>
    </tr>
  </tbody>
</table>

{% endblock %}
