<table id="training" style="width: 100%">
  <tr>
    <td colspan="11" class="style99">Training</td>
  </tr>
  <tr>
    <td class="style98">Metric</td>
    <td colspan="2" class="style58"><span class="style87">
    <span class="style90">Week<br />
    </span></span>1</td>
    <td colspan="2" class="style58"><span class="style87">
    <span class="style90">Week<br />
    </span></span>2</td>
    <td colspan="2" class="style58"><span class="style87">
    <span class="style90">Week<br />
    </span></span>3</td>
    <td colspan="2" class="style58"><span class="style87">
    <span class="style90">Week<br />
    </span></span>4</td>
    <td colspan="2" class="style59"><span class="style87">
    <span class="style90">Week<br />
    </span></span>5</td>
  </tr>
  {% for item in manualdata.training if item.METRIC == 'Training' %}
  <tr>
    <td class="style73">Training %</td>
    <td class="style66"><div>{{item.one}}</div></td>
    <td class="style66"><div>{{item.two}}</div></td>
    <td class="style66"><div>{{item.three}}</div></td>
    <td class="style66"><div>{{item.four}}</div></td>
    <td class="style66"><div>{{item.five}}</div></td>
    <td class="style66"><div>{{item.six}}</div></td>
    <td class="style66"><div>{{item.seven}}</div></td>
    <td class="style66"><div>{{item.eight}}</div></td>
    <td class="style66"><div>{{item.nine}}</div></td>
    <td class="style66"><div>{{item.ten}}</div></td>
  </tr>
  {% endfor %}
  {% for item in manualdata.training if item.METRIC == 'Past Due Trainings' %}
  <tr>
    <td class="style73">Past Due Trainings</td>
    <td class="style66"><div>{{item.one}}</div></td>
    <td class="style66"><div>{{item.two}}</div></td>
    <td class="style66"><div>{{item.three}}</div></td>
    <td class="style66"><div>{{item.four}}</div></td>
    <td class="style66"><div>{{item.five}}</div></td>
    <td class="style66"><div>{{item.six}}</div></td>
    <td class="style66"><div>{{item.seven}}</div></td>
    <td class="style66"><div>{{item.eight}}</div></td>
    <td class="style66"><div>{{item.nine}}</div></td>
    <td class="style66"><div>{{item.ten}}</div></td>
  </tr>
  {% endfor %}


  <!--
  <tr>
    <td class="style73">Past Due Trainings</td>
    <td class="style66">
      <div>
      {% for item in manualdata.training if item.WEEK == '1A' and item.METRIC == 'Past Due Trainings' %}
      <div>{{item.VALUE}}</div>
      {% endfor %}
      </div>
    </td>
    <td class="style66">
      <div>
      {% for item in manualdata.training if item.WEEK == '1B' and item.METRIC == 'Past Due Trainings' %}
      <div>{{item.VALUE}}</div>
      {% endfor %}
      </div>
    </td>
    <td class="style66">
      <div>
      {% for item in manualdata.training if item.WEEK == '2A' and item.METRIC == 'Past Due Trainings' %}
      <div>{{item.VALUE}}</div>
      {% endfor %}
      </div>
    </td>
    <td class="style66">
      <div>
      {% for item in manualdata.training if item.WEEK == '2B' and item.METRIC == 'Past Due Trainings' %}
      <div>{{item.VALUE}}</div>
      {% endfor %}
      </div>
    </td>
    <td class="style66">
      <div>
      {% for item in manualdata.training if item.WEEK == '3A' and item.METRIC == 'Past Due Trainings' %}
      <div>{{item.VALUE}}</div>
      {% endfor %}
      </div>
    </td>
    <td class="style66">
      <div>
      {% for item in manualdata.training if item.WEEK == '3B' and item.METRIC == 'Past Due Trainings' %}
      <div>{{item.VALUE}}</div>
      {% endfor %}
      </div>
    </td>
    <td class="style66">
      <div>
      {% for item in manualdata.training if item.WEEK == '4A' and item.METRIC == 'Past Due Trainings' %}
      <div>{{item.VALUE}}</div>
      {% endfor %}
      </div>
    </td>
    <td class="style66">
      <div>
      {% for item in manualdata.training if item.WEEK == '4B' and item.METRIC == 'Past Due Trainings' %}
      <div>{{item.VALUE}}</div>
      {% endfor %}
      </div>
    </td>
    <td class="style66">
      <div>
      {% for item in manualdata.training if item.WEEK == '5A' and item.METRIC == 'Past Due Trainings' %}
      <div>{{item.VALUE}}</div>
      {% endfor %}
      </div>
    </td>
    <td class="style66">
      <div>
      {% for item in manualdata.training if item.WEEK == '5B' and item.METRIC == 'Past Due Trainings' %}
      <div>{{item.VALUE}}</div>
      {% endfor %}
      </div>
    </td>
  </tr> -->
</table>
