<table style="width: 100%">
  <tr>
    <td colspan="12" class="style6">Task/Incidents/Work Orders (Last
    7 days)&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="height: 35px" class="style44">Metric</td>
    <td colspan="2" style="height: 35px" class="style37">
    <span class="style87"><span class="style90">Week<br />
    </span></span>1</td>
    <td colspan="2" style="height: 35px" class="style37">
    <span class="style87"><span class="style90">Week<br />
    </span></span>2</td>
    <td colspan="2" style="height: 35px" class="style37">
    <span class="style87"><span class="style90">Week<br />
    </span></span>3</td>
    <td colspan="2" style="height: 35px" class="style37">
    <span class="style87"><span class="style90">Week<br />
    </span></span>4</td>
    <td colspan="2" style="height: 35px" class="style37">
    <span class="style87"><span class="style90">&nbsp;Week<br />
    </span></span>5</td>
  </tr>
  {% for item in manualdata.taskIncWos if item.METRIC == 'TASKS - OPEN/INPROG/PENDING' %}
  <tr>
    <td rowspan="2" class="style84">Tasks</td>
    <td class="style66">Open/InProg/Pending</td>
    <td class="style66"><div>{{item.one}}</div></td>
    <td class="style66"><div>{{item.two}}</div></td>
    <td class="style66"><div>{{item.three}}</div></td>
    <td class="style66"><div>{{item.four}}</div></td>
    <td class="style66"><div>{{item.five}}</div></td>
    <td class="style66"><div>{{item.six}}</div></td>
    <td class="style66"><div>{{item.seven}}</div></td>
    <td class="style66"><div>{{item.eight}}</div></td>
    <td class="style66"><div>{{item.nine}}</div></td>
    <td class="style66"><div>{{item.ten}}</div></td>
  </tr>
  {% endfor %}
  {% for item in manualdata.taskIncWos if item.METRIC == 'TASKS - CLOSED/CANCELLED' %}
  <tr>
    <td class="style66">Closed/Canceled</td>
    <td class="style66"><div>{{item.one}}</div></td>
    <td class="style66"><div>{{item.two}}</div></td>
    <td class="style66"><div>{{item.three}}</div></td>
    <td class="style66"><div>{{item.four}}</div></td>
    <td class="style66"><div>{{item.five}}</div></td>
    <td class="style66"><div>{{item.six}}</div></td>
    <td class="style66"><div>{{item.seven}}</div></td>
    <td class="style66"><div>{{item.eight}}</div></td>
    <td class="style66"><div>{{item.nine}}</div></td>
    <td class="style66"><div>{{item.ten}}</div></td>
  </tr>
  {% endfor %}
  {% for item in manualdata.taskIncWos if item.METRIC == 'INCIDENTS - OPEN/INPROG/PENDING' %}
  <tr>
    <td rowspan="2" class="style84">Incidents&nbsp;</td>
    <td class="style66">Open/InProg/Pending</td>
    <td class="style66"><div>{{item.one}}</div></td>
    <td class="style66"><div>{{item.two}}</div></td>
    <td class="style66"><div>{{item.three}}</div></td>
    <td class="style66"><div>{{item.four}}</div></td>
    <td class="style66"><div>{{item.five}}</div></td>
    <td class="style66"><div>{{item.six}}</div></td>
    <td class="style66"><div>{{item.seven}}</div></td>
    <td class="style66"><div>{{item.eight}}</div></td>
    <td class="style66"><div>{{item.nine}}</div></td>
    <td class="style66"><div>{{item.ten}}</div></td>
  </tr>
  {% endfor %}
  {% for item in manualdata.taskIncWos if item.METRIC == 'INCIDENTS - CLOSED/CANCELLED' %}
  <tr>
    <td class="style66">Closed/Canceled</td>
    <td class="style66"><div>{{item.one}}</div></td>
    <td class="style66"><div>{{item.two}}</div></td>
    <td class="style66"><div>{{item.three}}</div></td>
    <td class="style66"><div>{{item.four}}</div></td>
    <td class="style66"><div>{{item.five}}</div></td>
    <td class="style66"><div>{{item.six}}</div></td>
    <td class="style66"><div>{{item.seven}}</div></td>
    <td class="style66"><div>{{item.eight}}</div></td>
    <td class="style66"><div>{{item.nine}}</div></td>
    <td class="style66"><div>{{item.ten}}</div></td>
  </tr>
  {% endfor %}
  {% for item in manualdata.taskIncWos if item.METRIC == 'WORK ORDERS - OPEN/INPROG/PENDING' %}
  <tr>
    <td rowspan="2" class="style84">Work Orders</td>
    <td class="style66">Open/InProg/Pending</td>
    <td class="style66"><div>{{item.one}}</div></td>
    <td class="style66"><div>{{item.two}}</div></td>
    <td class="style66"><div>{{item.three}}</div></td>
    <td class="style66"><div>{{item.four}}</div></td>
    <td class="style66"><div>{{item.five}}</div></td>
    <td class="style66"><div>{{item.six}}</div></td>
    <td class="style66"><div>{{item.seven}}</div></td>
    <td class="style66"><div>{{item.eight}}</div></td>
    <td class="style66"><div>{{item.nine}}</div></td>
    <td class="style66"><div>{{item.ten}}</div></td>
  </tr>
  {% endfor %}
  {% for item in manualdata.taskIncWos if item.METRIC == 'WORK ORDERS - CLOSED/CANCELLED' %}
  <tr>
    <td class="style66">Closed/Canceled</td>
    <td class="style66"><div>{{item.one}}</div></td>
    <td class="style66"><div>{{item.two}}</div></td>
    <td class="style66"><div>{{item.three}}</div></td>
    <td class="style66"><div>{{item.four}}</div></td>
    <td class="style66"><div>{{item.five}}</div></td>
    <td class="style66"><div>{{item.six}}</div></td>
    <td class="style66"><div>{{item.seven}}</div></td>
    <td class="style66"><div>{{item.eight}}</div></td>
    <td class="style66"><div>{{item.nine}}</div></td>
    <td class="style66"><div>{{item.ten}}</div></td>
  </tr>
  {% endfor %}
  {% for item in manualdata.taskIncWos if item.METRIC == 'ISM CHANGES - OPEN/INPROG/PENDING' %}
  <tr>
    <td rowspan="2" class="style84">ISM Changes&nbsp;</td>
    <td class="style66">Open/InProg/Pending</td>
    <td class="style66"><div>{{item.one}}</div></td>
    <td class="style66"><div>{{item.two}}</div></td>
    <td class="style66"><div>{{item.three}}</div></td>
    <td class="style66"><div>{{item.four}}</div></td>
    <td class="style66"><div>{{item.five}}</div></td>
    <td class="style66"><div>{{item.six}}</div></td>
    <td class="style66"><div>{{item.seven}}</div></td>
    <td class="style66"><div>{{item.eight}}</div></td>
    <td class="style66"><div>{{item.nine}}</div></td>
    <td class="style66"><div>{{item.ten}}</div></td>
  </tr>
  {% endfor %}
  {% for item in manualdata.taskIncWos if item.METRIC == 'ISM CHANGES - CLOSED/CANCELLED' %}
  <tr>
    <td class="style66">Closed/Canceled</td>
    <td class="style66"><div>{{item.one}}</div></td>
    <td class="style66"><div>{{item.two}}</div></td>
    <td class="style66"><div>{{item.three}}</div></td>
    <td class="style66"><div>{{item.four}}</div></td>
    <td class="style66"><div>{{item.five}}</div></td>
    <td class="style66"><div>{{item.six}}</div></td>
    <td class="style66"><div>{{item.seven}}</div></td>
    <td class="style66"><div>{{item.eight}}</div></td>
    <td class="style66"><div>{{item.nine}}</div></td>
    <td class="style66"><div>{{item.ten}}</div></td>
  </tr>
  {% endfor %}
</table>
