<table style="width: 1874px;margin-left: 4px;"  cellspacing="0" cellpadding="0" class="style111">
	<tr>
		<td valign="top" class="style6" style="width: 15%;">
		{% include "amlis/legend.html" %}
		<div class="style6">
			<br />
		</div>
		</td>
		<td valign="top" class="style6" style="width: 15%;">
		{% include "amlis/week1.html" %}
		<div class="style6">
			<br />
		</div>
		</td>
		<td valign="top" class="style6" style="width: 15%;">
		{% include "amlis/week2.html" %}
		<div class="style6">
			<br />
		</div>
		</td>
		<td valign="top" class="style6" style="width: 15%;">
		{% include "amlis/week3.html" %}
		<div class="style6">
			<br />
		</div>
		</td>
		<td valign="top" class="style6" style="width: 15%;">
		{% include "amlis/week4.html" %}
		<div class="style6">
			<br />
		</div>
		</td>
		<td valign="top" class="style6" style="width: 15%;">
		{% include "amlis/week5.html" %}
		<div class="style6">
			<br />
		</div>
		</td>
		<td valign="top" class="style6" style="width: 12.5%;">
		{% include "attendance.html" ignore missing %}
		</td>
	</tr>
</table>
