<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css">
    <title>Log Out</title>
    <style>
    
    #wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    </style>
</head>

<body>
<div class="container">

  <div class="wrapper">
    <h1>Logged out Succesfully!</h1><br>
    <p>
      <a href="/" class="btn btn-info btn-md">
        <span class="glyphicon glyphicon-log-in"></span> Log In
      </a>
    </p>
  </div>

</div><!-- /.container -->

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
